.logout-link {
  font-size: 17px !important;
  padding: 10px !important;
  color: white !important;
  text-decoration: none !important;
  background: none !important;
  color: white !important;
  border: none;
}

.logout-link :hover {
  font-size: 17px !important;
  padding: 10px !important;
  text-decoration: none !important;
  background-color: rgb(21, 32, 43);
  color: rgb(29, 161, 243) !important;
  border: none;
}

.sidebar-container-items a {
  font-size: 17px;
  padding: 10px;
  color: white;
  text-decoration: none;
  background: none;
  color: white;
  border: none;
}

.login-section {
  margin-top: 10%;
}

@media (max-width: 765px) {
  .mobile-links {
    display: flex !important;
    flex-wrap: wrap;
  }
}
.mobile-up {
  color: white;
  padding: 5px 15px;
  font-size: 15px;
}

@media (max-width: 500px) {
  .login-section {
    margin-top: 2%;
  }
  main {
    padding-top: 150px !important;
  }
}

.toggle-show {
  position: absolute;
  right: 10%;
  margin-top: 2px;
}

.show-toggler {
  cursor: pointer;
  color: cornflowerblue;
  transition: all;
}
.show-toggler:hover {
  transform: scale(1.1);
}
