{% extends 'base.html' %}
{% block title %} | Edit Income {% endblock %}
{% block content %}

<!-- Alerts -->

<section id="dashboard" class="py-4">
  <div class="container">
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'income' %}">Income</a></li>
    <li class="breadcrumb-item active" aria-current="page">Edit Income</li>
  </ol>
</nav>

<div>
  <div  role="">
    <div class="">
     <div class="modal-header">
        <h5 class="modal-title  text-dark" id="exampleModal1">Edit Income</h5>

      </div>
            <form action="{%url 'income_edit' income.id  %}" method="POST" autocomplete="off">
              {% csrf_token%}
{% include 'partials/_alerts.html'%}
          <div class="form-group">
            <label for="amount" class="col-form-label">Amount:</label>
            <input type="number" name="amount"  value={{income.amount}} class="form-control" id="amount">
          </div>
                <div class="form-group">
                  <label for="source">Source</label>
                  <select name="source" class="form-control" id="source" value={{income.source}}>
          {% for source in  sources%}
           <option name="source">{{source.name}}</option>
          {% endfor %}
                  </select>
           </div>
          <div class="form-group">
            <label for="description"  class="col-form-label">Description:</label>
            <textarea class="form-control" name="description" id="description">{{income.description}}</textarea>
          </div>
            <div class="form-group">
            <label for="date"  class="col-form-label">Date of Income:</label>
            <input type="date" class="form-control"  value="{{income.income_date |date:'Y-m-d'}}" name="ex_date" id="date"></input>
          </div>

        <input type="submit" class="btn btn-primary" value="Submit">
      </div>


        </form>
  </div>
</div>

{% include 'partials/_alerts.html'%}

  </div>
</section>
{%endblock%}
