{% extends 'admin/base.html' %}


{% load static %}


{% block branding  %}
<h1 id="head">
<img src="https://images.squarespace-cdn.com/content/v1/56c775c0a3360c4744ea60d7/1458679372758-LSQFUBES3RFY16HZRTKN/ke17ZwdGBToddI8pDm48kO2pS9cMHbO4RvHPc8Skf1tZw-zPPgdn4jUwVcJE1ZvWhcwhEtWJXoshNdA9f1qD7SSwGn0TPzISNt3iSJufpcvR7xFZ2oYA-YTitnkXPCuTgiUfhLEJ_Uxi_cK3qclb8w/mortgage-icon.png?format=1500w" alt='logo' height="35" width="50"/>
    ADMIN AREA

</h1>


{%endblock%}
{% block extrastyle %}
  <link rel="stylesheet" href="{% static 'css/admin.css' %}">
{% endblock %}
